@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}
<br />
<h2>Kitap Geçmişim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>Üyenin Getirdiği Tarihi</th>


    </tr>
    @foreach (var odunc in Model)
        {
            <tr>
                <td></td>
               @* <td>@odunc.TBLKITAP.AD</td>*@
                <td>@Convert.ToDateTime(odunc.ALISTARIH).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(odunc.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            </tr>
        }
</table>


